node_modules
.vscode
.git
build
dist
server

package-lock.json

# Keep environment variables out of version control
*.env

# Config files
.editorconfig
.eslintrc.json
prettierrc.json

# vs code workspace files
*.code-workspace

# Ignore files
.eslintignore
.gcloudignore
.gitignore
.prettierignore

# yaml / yml files
*.yaml
*.yml
